.whole-html {
    background-color:whitesmoke;
}

.whole-body {
    background-color:whitesmoke;
    min-width: 100vh;
}

.home-body {
    
    min-height: 100vh;
}

.ui.pink.icon.center.aligned.header.home-header {
    margin-top: 50px;
    padding-top: 8%;

}

.home-login{
    margin-top: 15%;
    text-align: center;
}

.home-offlinemode-container{
    text-align: center;
    margin-top: 3%;
}

.home-footer {
 
    margin-top: 15%;
    margin-bottom: 1%;
    text-align: center;
}

.home-header-container{
    display: flex;
    justify-content: center;
}

.MuiGrid-root.MuiGrid-item.css-13i4rnv-MuiGrid-root:hover {
    cursor: pointer;
}

.ui.blue.icon.center.aligned.header.home-header {
    width: 30%;
    margin-top: 5%;
}

.ui.progress .bar{
    padding-left: 1%;
    padding-right: 1%
  }