
.orgs-content-container {

    background-color:whitesmoke;
    min-height: 100vh;
    
}

.org-card-btn-container {
    display: flex;
    justify-content: space-evenly;
}



.ui.button.org-modal-btn {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.orgs-orgcard-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.org-card-container {

    margin: 3%;
}

.org-card-container: hover{
    transform: scale(1.2);
    border: blue 1px solid;
}



.MuiCardMedia-root.MuiCardMedia-media.MuiCardMedia-img.css-o69gx8-MuiCardMedia-root {
 width: 100%;

}