.surveys-content {
    background-color: whitesmoke;
    min-height: 100vh;
}

.ui.card.survey-card:hover{
    transform: scale(1.1);
    border: gray 1px solid;
}

.ui.button.surveys-modal-btn {
    margin: auto;
    margin-right: 2%;
}

.surveys-management {
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.ui.card:hover {
    transform: scale(1.2);
    border: rgb(223, 219, 219) 1px solid;
}

.surveys-surveycard-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3%;
}

.survey-card-container {
    margin: 3%;
}

.survey-link {
    text-decoration: none;
}

.surveys-modal-btn {
    color: #4183c4;
}

.right.menu.menu-nav-about-user{
    justify-content:flex-end;

}