.user-card-container {
  display: flex;
  justify-content: center;
}

.ui.card.user-card {
  pointer-events: none;
  justify-content: center;
  margin-top: 5%;
  width: 50%;
  font-size: 1rem;
}

.content.user-header {
  padding-bottom: 0%;
}

.meta.user-role {
 margin-left: 5%;
 margin-bottom: 3%;
}

.user-card-content {
  width: 50vw;
}

.header.user-card-header {
  margin: auto;
  text-align: center;
}

.ui.table.user-table {
  margin: 0;

}



